$color-primary: #D6D979;
$color-secondary: #6DA68B;
$color-dark: #1C3C40;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-secondary;
    font-family: Arial ,Helvetica, sans-serif;
    font-weight: 500;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.product__title{
    width: 85%;
    text-align: center;
    color: $color-secondary;
    margin-top: 2em;
    font-size: 20px;
    font-weight: bold;
    background-color: $color-dark;
    border-radius: 15px;
    padding: 0.5em 0;
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.1);
}

.product{
    margin-top: 1.5em;
    width: 85%;
    background-color: $color-dark;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.product__form{
    text-align: center;
}

@mixin formControls(){
    display: inline-block;
    width: 80%;
    padding: 10px 5px;
    color: #fff;
    background-color: transparent;
    margin: 0.6em auto;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px 0px $color-secondary;
    border-radius: 5px;
}

.product__name, 
.product__price,
.product__description{
    @include formControls();
    transition: all 0.3s;
}

.product__name{
    margin-top: 1em;
}

.product__price::-webkit-inner-spin-button,
.product__price::-webkit-outer-spin-button{
    appearance: none;    
}

.product__name:focus,
.product__price:focus,
.product__description:focus{
    box-shadow: 0px 0px 2px 3px $color-secondary;
}

.product__name::placeholder,
.product__price::placeholder,
.product__description::placeholder{
    color: $color-secondary;
}

.product__name:focus::placeholder,
.product__price:focus::placeholder,
.product__description:focus::placeholder{
    color: rgb(238, 238, 238);
}

.product__submit{
    display: inline-block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    color: rgb(94, 103, 221);
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgb(94, 103, 221);
    outline: none;
    border-radius: 10px;
    margin-top: 0.5em;
    transition: all 0.3s;
}

.product__submit:hover, 
.product__submit:focus{
    background-color:  rgb(94, 103, 221);
    color: #fff;
}

.product__submit:active{
    background-color: rgb(68, 75, 184);
}